<script src="https://kit.fontawesome.com/0f20a2b955.js" crossorigin="anonymous"></script>
<header class="nav-header">
    <nav class="navbar">
        <div class="nav-menu">
            <div class="title-container"><p class="title" onclick="window.location.href='/'">nuxEland</p></div>
            <div class="links">
                <a class="link" href="/dashboard">Dashboard</a>
                <a class="link" href="/forums">Forums</a>
                <a class="link" href="/issue">Issue</a>
                <a class="link" href="/social">Social Media</a>
            </div>
            <div class="login-button">
                <a href="/register/logout" class="login-link link">Logout</a>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </nav>
</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
    body {
        color: #698EFF !important;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: auto;
        padding: 0;
        overflow-x: hidden;

        /* background: #000; */
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%), linear-gradient(251deg, #C6729E 0%, #7146CC 100%);            color: #ffffff00;
        font-family: 'Outfit', sans-serif;
    }
    @font-face {
        font-family: 'cursive';
        src: url('/alsscrp.ttf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'cursive2';
        src: url('/VintageMohaiDemoVersionRegular-vmlBO.ttf');
        font-weight: normal;
        font-style: normal;
    }
    .nav-header {
        margin: 0;
        width: 100%;
        height: 15vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    .navbar {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login-button {
        padding: 0.75vw;

        border: 2px solid #698EFF;
        border-radius: 2.5px;
        cursor: pointer;
        
        transition: all 500ms ease;
    }
    .login-button:hover {
        border-color: #AD4569;
        border-radius: 30px;
        .login-link {
            color: #AD4569;
        }
        .fa-solid { 
            color: #AD4569;
        }
    }
    .login-link {
        transition: all 500ms ease;
        border: none !important;
    }
    .fa-solid {
        transition: all 500ms ease;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .title {
        font-size: 4vw;
        font-family: 'cursive';
        color: #698EFF;
        transition: all 500ms ease;
        cursor: pointer;
        margin: 0;
    }
    .title:hover {
        color: #AD4569;
    }
    .link {
        text-decoration: none;
        color: #698EFF;
        border: 2px solid #698EFF;
        border-radius: 5px;
        padding: 12px;
        transition: all 500ms ease;
    }
    .link:hover {
        color: #AD4569;
        border-radius: 50px;
        border-color: #AD4569;
    }
    .links {
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }
</style>