<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuxEland</title>
    <script src="https://kit.fontawesome.com/0f20a2b955.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="nav-title">nuxEland</li>
                <div class="links">
                    <li>Contact Us</li>
                    <li class="login-button" onclick="window.location.href='/login'"><a href="/login" class="login-link">Login</a> <i class="fa-solid fa-arrow-right"></i></li>
                </div>
            </ul>
        </nav>
    </header>


    <div class="section">
        <div class="texts">
            <p class="text">ENDLESS</p>
            <h1 class="heading-big">THRILLING</h1>
            <h1 class="heading-big">THRILLING</h1>
            <h1 class="heading-big">THRILLING</h1>
            <p class="text2">ODYSSEY</p>
        </div>
        <img class="image-right" src="/book.png" alt="">
    </div>



    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
            height: auto;
            padding: 0;
            overflow: hidden;

            /* background: #000; */
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%), linear-gradient(251deg, #C6729E 0%, #7146CC 100%);            color: #ffffff00;
            font-family: 'Outfit', sans-serif;
        }
        @font-face {
            font-family: 'cursive';
            src: url('/alsscrp.ttf');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'cursive2';
            src: url('/VintageMohaiDemoVersionRegular-vmlBO.ttf');
            font-weight: normal;
            font-style: normal;
        }
        .text {
            text-align: left;
            color: #AD4569;
            margin: 0;
            margin-bottom: 0.75vw;
            opacity: 0;
            animation: opacityChange 1s ease 1.5s 1 forwards;
            font-size: 2vw;
        }
        .text2 {
            font-size: 2vw !important;
            align-self: end;
            margin-top: -0.75vw;
            color: #AD4569;
            opacity: 0;
            animation: opacityChange 1s ease 1.5s 1 forwards;
            font-size: larger;
        }
        header {
            margin: 0;
            width: 100%;
            height: 15vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            transform: translateY(-20vh);
            animation: slideDown 1s ease 3.5s 1 forwards;
        }
        nav {
            width: 90%;
            height: 100%;
        }
        ul {
            margin: 0;
            height: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        ul > li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        .nav-title {
            font-size: 4vw;
            font-family: 'cursive';
            color: #fff;
            transition: all 500ms ease;
            cursor: pointer;
        }
        .nav-title:hover {
            color: #AD4569;
        }
        .login-button {
            padding: 0.75vw;

            border: 2px solid rgba(255, 255, 255, 0.66);
            border-radius: 2.5px;
            cursor: pointer;
            
            transition: all 500ms ease;
        }
        .login-button:hover {
            border-color: #AD4569;
            border-radius: 30px;
            .login-link {
                color: #AD4569;
            }
            .fa-solid { 
                color: #AD4569;
            }
        }
        .login-link {
            transition: all 500ms ease;
        }
        .fa-solid {
            transition: all 500ms ease;
        }
        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3vw;
        }
        .links > li {
            list-style-type: none;
            color: #fff;
            transition: all 500ms ease;
            cursor: pointer;
        }
        .links > li:hover {
            color: #AD4569;
        }
        .section {
            perspective: 100px;
            align-self: center;
            width: 90%;
            height: 85vh;
            /* margin-top: -2.5vw; */
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .section > img {
            position: absolute;
            width: 30vw;
            transform: scale(0);
            animation: scaleChange 1s ease 2.5s 1 forwards;
        }
        .texts {
            perspective: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin: 0;
        }
        .texts > h1 {
            margin: 0;
            line-height: 0;
            font-size: 15vw;
            color: #AD4569;
            transform-style: preserve-3d;
            /* transform: rotateX(5deg); */
            font-family: 'cursive2';
            animation: textAppear 0.5s ease 1 forwards;
            animation-delay: 1s;
            transition: all 1s ease;
        }
        .texts > h1:hover {
            -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            -webkit-mask-size: 200%;
        }
        .heading-big {
            font-size: 13vw !important;
            margin: 0;
            letter-spacing: 15px;
            font-weight: 400;
        }
        .heading-small {
            z-index: 2;
            margin-top: -5vw !important;
        }
        @-webkit-keyframes shine {
            from {
                -webkit-mask-position: 150%;
            }
            
            to {
                -webkit-mask-position: -50%;
            }
        }
        @keyframes textAppear {
            from {
                line-height: 0;
            } to {
                line-height: 0.8;
            }
        }
        @keyframes opacityChange {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        @keyframes scaleChange {
            from {
                /* opacity: 0; */
                transform: scale(0);
            }
            to {
                /* opacity: 1; */
                transform: scale(1);
            }
        }
        @keyframes slideDown {
            from {
                /* opacity: 0; */
                transform: translateY(-20vh);
            }
            to {
                /* opacity: 1; */
                transform: translateY(0);
            }
        }
    </style>


 <script>
    const bookImg = document.querySelector(".image-right");
    const maxDistance = 10;
    document.addEventListener('mousemove', function(event) {
        const distanceX = event.clientX - window.innerWidth / 2;
        const distanceY = event.clientY - window.innerHeight / 2;
        const percentageX = (distanceX / window.innerWidth) * 100;
        const percentageY = (distanceY / window.innerHeight) * 100;                
        const moveX = (percentageX / 100) * maxDistance;
        const moveY = (percentageY / 100) * maxDistance;
        
        const styles = {
            transform: `rotateZ(${moveX}deg) rotateY(${moveY}deg)`
        };

        const styleTiming = {
            duration: 20000,
        };

        bookImg.animate(styles,styleTiming)
    });

 </script>
</body>
</html>