<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Journal</title>
</head>
<body>
    <p><%= myJournal.heading %></p>
    <p><%= myJournal.text %></p>
</body>
</html>