<%- include('./partials/navbar') %>

<div class="section">
    <div class="left">
        <h1 class="heading-big">ISSUE BOOK</h1>
    </div>
    <div class="right">
        <img src="/" alt="">
    </div>
    
</div>

<style>
    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
    }
    .heading-big {
        font-size: 7vw !important;
        margin: 0;
        font-weight: 400;
        color: #AD4569;
        font-family: 'cursive2';
    }
</style>

