<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="section">
        <h1 class="heading-big">EDIT PROFILE</h1>
        <form action="/profile/edit" method="POST">
            <div class="left">
                <input type="email" name="email" placeholder="Email:">
                <input type="text" name="name" placeholder="Name:">
            </div>
            <div class="right">
                <input type="password" name="password" placeholder="Change Password:">
                <input type="password" name="cnfpassword" placeholder="Confirm Password:">
            </div>
            <button type="submit">Submit</button>
        </form>
        <% if (errors.length > 0) { %>
        <p style="color: red;"><%= errors[0].msg %></p>
        <% } %>
    </div>
</body>
<style>
    body {
        height: 100vh;
        width: 100%;
    }
    .heading-big {
        font-family: 'cursive2';
        color: #AD4569;
        font-size: 5vw;
        align-self: center;
    }
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }
    .left {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }
    .right {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }
    input {
        padding: 12px;
        outline: none;
        border: 2px white solid;
        border-radius: 15px;
        transition: all 1s ease;
        color: #AD4569;
        font-family: Outfit;
        font-size: 1.5vw;
        background: transparent;
    }
    input:focus {
        border: 2px solid #AD4569;
        border-radius: 15px;
        color: #AD4569;
    }
    button {
        transition: all 1s ease;
        background: transparent;
        outline: none;
        border: 2px white solid;
        padding: 12px;
        cursor: pointer;
        font-size: 1.5vw;
        font-family: Outfit;
        border-radius: 15px;
        color: #AD4569;
    }
    button:hover {
        border-color: #AD4569;
        color: #AD4569;
    }
</style>
</html>