<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Platform</title>
    <style>

    </style>
</head>
<body>
    <form action="/social/post" method="POST">
        <input type="text" minlength="30" maxlength="60" name="caption" placeholder="Enter Caption:">
        <input type="text" minlength="30" maxlength="60" name="text" placeholder="Enter Post:">
        <input type="submit" value="Post">
    </form>
</body>
</html>