<% for (let i = 0; i < socialChats.length; i++) { %>
    <p><%= socialChats[i].name %>: <%= socialChats[i].caption %></p>
    <p>Text: <%= socialChats[i].text %></p>
    <p>Posted on <%= socialChats[i].dateAndTime %></p>
<% } %>