<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Platform</title>
    <style>

    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <form action="/social/post" method="POST">
        <h1 class="heading">New POST</h1>
        <input type="text" maxlength="100" required name="caption" placeholder="Enter Caption:">
        <textarea type="text" required name="text" rows="5" placeholder="Enter Text:"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
    <style>
        body {
            height: 100vh;
        }
        .heading {
            font-size: 7vw !important;
            margin: 0;
            font-weight: 400;
            color: #AD4569;
            font-family: 'cursive2';
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 5vh;
        }
        input {
            padding: 12px;
            outline: none;
            border: 2px white solid;
            border-radius: 15px;
            transition: all 1s ease;
            color: #AD4569;
            font-family: Outfit;
            font-size: 1.5vw;
            background: transparent;
        }
        input:focus {
            border: 2px solid #AD4569;
            border-radius: 15px;
            color: #AD4569;
        }
        textarea:focus {
            border: 2px solid #AD4569;
            border-radius: 15px;
            color: #AD4569;
        }
        textarea {
            resize: none;
            width: 40vw;
            background: transparent;
            color: #AD4569;
            font-family: Outfit;
            font-size: 1.5vw;
            padding: 12px;
            outline: none;
            border: 2px white solid;
            border-radius: 15px;
            transition: all 1s ease;
        }
        button {
            transition: all 1s ease;
            background: transparent;
            outline: none;
            border: 2px white solid;
            padding: 12px;
            cursor: pointer;
            font-size: 1.5vw;
            font-family: Outfit;
            border-radius: 15px;
            color: #AD4569;
        }
        button:hover {
            border-color: #AD4569;
            color: #AD4569;
        }
    </style>
</html>