<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <h1>SUCCESS!</h1>
    </div>

</body>
<style>
    body {
        margin: 0px;
        width: 100%;
        height: 100vh;
    }

    * {
        margin: 0px;
        padding: 0px;
        line-height: 1.6;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    h1 {
        font-family: "cursive2";
        color: #AD4569;
        text-align: center;
        font-size: 5vw;
    }
</style>
</html>